<?xml version='1.0' encoding='UTF-8' ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/util/ http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">

<!--    <context:annotation-config/>
    <mvc:annotation-driven /> 
    <task:annotation-driven />   -->
    <!--<task:scheduler id="taskScheduler" pool-size="10"/>-->
    <!--<task:executor id="taskExecutor" pool-size="10"/>-->
    <!--<task:annotation-driven executor="taskExecutor" scheduler="taskScheduler"/>-->
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" 
          p:driverClassName="org.postgresql.Driver"
          p:url="jdbc:postgresql://localhost:5432/drms"
          p:username="drms" p:password="drms"/>
    <!-- SERVER 10.179.0.72-->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.default_schema">drms</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
            </props>
        </property>
        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml</value>
        </property>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <context:component-scan base-package="model"/>
    <context:component-scan base-package="Services"/>
    <context:component-scan base-package="DAOImpl"/>
    <context:component-scan base-package="security"/>
    <context:component-scan base-package="util.common"/>
</beans>




